Source: kmenuedit
Priority: extra
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Scarlett Clark <scarlett@scarlettgatelyclark.com>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 4:1.0.0),
               kdoctools-dev (>= 4.99.0),
               kgendesignerplugin (>= 4.99.0),
               khotkeys-dev,
               kinit-dev ( >= 5.0.0),
               kio-dev (>= 5.0.0),
               libkf5attica-dev (>= 5.0.0),
               libkf5auth-dev (>= 5.0.0),
               libkf5bookmarks-dev (>= 5.0.0),
               libkf5codecs-dev (>= 5.0.0),
               libkf5completion-dev (>= 5.0.0),
               libkf5config-dev (>= 5.0.0),
               libkf5configwidgets-dev ( >= 5.0.0),
               libkf5coreaddons-dev (>= 5.0.0),
               libkf5crash-dev (>= 4.99.0),
               libkf5dbusaddons-dev (>= 5.0.0),
               libkf5emoticons-dev (>= 5.0.0),
               libkf5globalaccel-dev (>= 5.0.0),
               libkf5guiaddons-dev (>= 5.0.0),
               libkf5i18n-dev (>= 4.99.0),
               libkf5iconthemes-dev ( >= 5.0.0),
               libkf5itemmodels-dev (>= 5.0.0),
               libkf5itemviews-dev (>= 5.0.0),
               libkf5jobwidgets-dev (>= 5.0.0),
               libkf5kdelibs4support-dev (>= 5.0.0),
               libkf5kdelibs4support5-bin (>= 5.0.0),
               libkf5newstuff-dev ( >= 5.0.0),
               libkf5notifications-dev ( >= 5.0.0),
               libkf5parts-dev ( >= 5.0.0),
               libkf5service-dev (>= 5.0.0),
               libkf5solid-dev (>= 5.0.0),
               libkf5sonnet-dev (>= 5.0.0),
               libkf5sysguard-dev,
               libkf5textwidgets-dev (>= 5.0.0),
               libkf5threadweaver-dev (>= 5.0.0),
               libkf5unitconversion-dev (>= 5.0.0),
               libkf5widgetsaddons-dev (>= 5.0.0),
               libkf5windowsystem-dev (>= 5.0.0),
               libkf5xmlgui-dev (>= 5.0.0),
               pkg-kde-tools,
               plasma-framework-dev (>= 5.0.0),
               qtbase5-dev,
               qtdeclarative5-dev,
               qtscript5-dev,
               xauth,
               xvfb
Standards-Version: 3.9.5
Section: libs
Homepage: https://projects.kde.org/projects/kde/unstable/plasma/kmenuedit

Package: kmenuedit
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: XDG menu editor
 This package provides a menu editor which may be used to edit the KDE Plasma
 workspaces menu or any other XDG menu.
 .
 This package contains the runtime files.

Package: kmenuedit-data
Section: libs
Architecture: any
Depends: kmenuedit (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: XDG menu editor
 This package provides a menu editor which may be used to edit the KDE Plasma
 workspaces menu or any other XDG menu.
 .
 This package contains the data files

Package: kmenuedit-dbg
Section: debug
Architecture: any
Recommends: qtbase5-dbg
Depends: kmenuedit (= ${binary:Version}), ${misc:Depends}
Description: XDG menu editor
 This package provides a menu editor which may be used to edit the KDE Plasma
 workspaces menu or any other XDG menu.
 .
 This package contains the debugging symbols.
